#{extends 'main.html' /}

<div class="opacity viewtable"><h2>Teams</h2></div>

<table class="opacity viewtable table table-striped entity Team">
    <thead>
        <tr>
            <th><!-- actions --></th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
	#{list items:entities, as:'entity'}
        <tr>
            <td>
                <a href="@{Teams.show(entity.id)}">Show</a>&nbsp;
                <a href="@{Teams.edit(entity.id)}">Edit</a>&nbsp;
                <a href="@{Teams.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
            </td>
            <td>${entity}</td>
        </tr>
	#{/list}
    </tbody>
</table>

<a class="creationlink opacity" href="@{Teams.create}">Create</a>
