body {
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url(/public/img/grass.png);
}
.whiteline {
    background-image: url(/public/img/rasenkante.gif);
    background-color: none;
}
.whitebar {
    margin-top: 5px;
}

.navbar-fixed-top{
    padding-top: 5px;
}