#{extends 'main.html' /}
<div class="hero-unit">
    <h2>Players</h2>
    <table class="table table-striped entity Player">
        <thead>
            <tr>
                <th><!-- actions --></th>
                <th>Name</th><th>Teams</th><th>Score</th><th>Id</th>
            </tr>
        </thead>
        <tbody>
	#{list items:entities, as:'entity'}
            <tr>
                <td>
                    <a href="@{Players.show(entity.id)}">Show</a>&nbsp;
                    <a href="@{Players.edit(entity.id)}">Edit</a>&nbsp;
                    <a href="@{Players.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
                </td>
                <td>${entity.name}</td>
                <td>${entity.teams}</td>
                <td>${entity.score}</td>
                <td>${entity.id}</td>
            </tr>
	#{/list}
        </tbody>
    </table><a class="btn btn-primary" href="@{Players.create}">Create</a>
</div>
