#{extends 'main.html' /}

<h2>View Player</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			teams:
		</span>
		<span class="value">
      ${entity.teams}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			score:
		</span>
		<span class="value">
      ${entity.score}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Players.index}">Back</a>

