<div class="control-group">
    <div class="controls docs-input-sizes">
        <select class="input-xlarge" name="entity.team1.id">
            <option value="">Team 1</option>
            %{ models.Team.all().fetch().sort{ it.toString() }.each() { }%
            %{
            selected = false;
            if (entity?.team1?.id == it.id) {
            selected = true
            }
            }%
            <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
            %{ } }%
        </select>
        <p class="help-block error">${errors.forKey('entity.team1')}</p>
    </div>
</div>
<div class="control-group">
    <div class="controls docs-input-sizes">
        <select class="input-xlarge" name="entity.team2.id">
            <option value="">gegen Team 2</option>
            %{ models.Team.all().fetch().sort{ it.toString() }.each() { }%
            %{
            selected = false;
            if (entity?.team2?.id == it.id) {
            selected = true
            }
            }%
            <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
            %{ } }%
        </select>
        <p class="help-block error">${errors.forKey('entity.team2')}</p>
    </div>
</div>
<div class="control-group">
    <div class="controls docs-input-sizes">
        <input readonly="readonly" class="input-xlarge" type="text" name="entity.date" value="${entity?.date.format(play.configuration['date.format'])}"/>
        <p class="help-block error">${errors.forKey('entity.date')}</p>
    </div>
</div>
<input type="hidden" name="entity.id" value="${entity?.id}"/>
