#{extends 'main.html' /}

<h2>View Match</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			team1:
		</span>
		<span class="value">
      ${entity.team1}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			team2:
		</span>
		<span class="value">
      ${entity.team2}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			scoreTeam1:
		</span>
		<span class="value">
      ${entity.scoreTeam1}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			scoreTeam2:
		</span>
		<span class="value">
      ${entity.scoreTeam2}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			date:
		</span>
		<span class="value">
      ${entity.date}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{Matches.index}">Back</a>

