<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-responsive.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <script src="@{'/public/js/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body data-dateformat="${play.configuration['date.format']}">
          #{headerNavigation /}
          <div class="container">
          #{doLayout /}
            <!-- /*footer start*/   -->

            <div class="container opacity">
                <footer><hr /> </footer>
            </div>
            <div class="container">
                <p><b /><b>v0.2beta - 24.06.2012 - https://github.com/offlinehoster/kickster</b></p>
            </div>
            <!-- /*footer end*/   -->

        <script src="/public/js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>

    </body>
</html>
