<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-responsive.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <script src="@{'/public/js/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{headerNavigation /}
        <div class="container">
            #{doLayout /}
   
            <div class="row navbar-fixed-bottom ">
                <hr>
                footer
        </div>
        
        <script src="/public/js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>

    </body>
</html>
